.contacts__container {
  display: flex;
  justify-content: space-between;
}
.contacts__address {
  width: 50%;
  padding: 50px 0 57px 0;
}
.contacts__item:not(:last-child){
  margin-bottom: 20px;
}
.contacts__item-address {
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
}
.contacts__item-title {
  color: var(--accent);
  margin-bottom: 5px;
}
.form {
  width: 50%;
  background-color: var(--branded);
  padding:50px 0 57px 0;
  display: flex;
  flex-direction: column;
}
.form__title{
  margin-bottom: 16px;
  color: var(--white);
  width: 270px;
  margin-left: 128px;
}
.form__title::before{
  border:1px solid var(--white);
 }
.form__input {
  border: 1px solid var(--white);
  padding: 26px 10px;
  background-color: transparent;
  width: 75%;
  margin: 0 auto;
  color: var(--gray);
  font-weight: 300;
  font-size: 18px;
}
.form__input::placeholder{
  font-size: 18px;
  text-align: center;
}
.form__input:last-of-type{
  margin-bottom: auto;
}
.form__input[type=text] {
  margin-bottom: 12px;
}
.form__input[type=number] {
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
   margin: 0;
}
.form__button {
  margin-bottom: 0;
  margin: 0 auto;
}
/*адаптив*/
@media(max-width:1024px){
  .form__title{
    margin-left: 15%;
  }
}
@media(max-width:900px){
  .contacts__container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .contacts__address {
    width: 100%;
    text-align: center;

  }
  .form {
    width: 100%;

  }
  .form__title{
    margin:0 auto 16px auto;
  }
  .form__input{
    width: 85%;
  }
  .form__input:last-of-type{
    margin-bottom: 16px;
  }
}
@media(max-width:520px){
  .form__input{
    padding: 20px 10px;
    width: 95%;
  }
}