.footer {
  background-color: var(--branded);
  color: var(--white);
  font-weight: 300;
  padding: 24px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list{
  padding-left: 0;
}
