
.header {
  position: absolute;
  top: 47px;
  left: 0;
  right: 0;
  outline: 1px solid white;
}
.header__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  outline: 1px solid red;
  width: 197px;
  height: 53px;
}
.logo__image {
  width: 100%;
  height: auto;
}
.header__link {
  color: var(--white);
  font-size: 36px;
  text-transform: uppercase;
  outline: 3px solid green;
}
/*адаптив*/
@media(max-width:900px){
  .header__link {
    color: var(--white);
    font-size: 24px;
    text-transform: uppercase;
    outline: 3px solid green;
  }
}
@media(max-width:520px){
  .header__container{
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo{
    margin-bottom: 15px;
  }
  .header__link {
    width: 100%;
    text-align: center;
  }
}