.hero {
  padding: 205px 0 119px 0;
  color: var(--white);
  background-image: url(../img/hero/bg-fon.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-transform: uppercase;
}
.hero__container{
position: relative;
}
.main__title{
  font-size: 72px;
  font-weight: 400;
}
.hero__title {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 30px;
}
.hero__text {
  text-transform:none;
  font-weight: 300;
  margin-bottom: 30px;
}
.button-consultation {
  background-color: var(--accent);
  width:250px;
  padding: 17px 0;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  margin-bottom: 70px;
  color: var(--white);
  transition: all .9s;
}
.button-consultation:hover{
  background-color: var(--white);
  color: var(--accent);
}
.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
  padding-left: 66px;
}
.list__item:not(:last-child) {
  margin-right: 10px;
}
.hero__image {
  position: absolute;
  bottom: -336px;
  right: 0;
  width: 814px;
  height:auto;
}
/*адаптив*/
@media(max-width:1024px){
  .hero__image {
    width: 80%;
  }
}
@media(max-width:900px){
  .main__title{
    font-size: 54px;
  }
  .hero__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .button-consultation {
    margin-bottom: 40px;
  }
  .list {
    padding-left: 50px;
  }
  .hero__image {
    width: 80%;
    bottom: -300px;
  }
}
@media(max-width:768px){
  .hero__image {
    bottom: -265px;
  }
}
@media(max-width:600px){
  .hero {
    padding: 160px 0 119px 0;
  }
  .hero__container{
   text-align: center;
  }
  .list {
    justify-content: center;
    padding-left: 0;
  }
  .button-consultation {
    margin: 0 auto 40px auto;
  }
  .hero__image {
    width: 70%;
    bottom: -240px;
  }
}
@media(max-width:520px){
  .hero {
    padding: 190px 0 0 0;
  }
  .main__title{
    margin-bottom: 20px;
  }
  .hero__image {
    position: static;
    width: 100%;
  }
  .list{
    margin-bottom: 30px;
  }
}
@media(max-width:340px){
  .main__title{
    font-size: 44px;
  }
}
