.reasons {
  padding: 0 0 100px 0;
}
.reasons-inner {
  display: flex;
  gap: 95px;
}
.reasons__title{
display: inline-block;
padding-left: 185px;
}
.reasons-inner__image {
  width: 320px;
  height: 606px;
}
.reasons-inner__list {
  color: var(--white);
  background-color: var(--branded);
  padding: 23px 260px 45px 185px;
}
.reasons-inner__item {
  max-width: 320px;
}
.reasons-inner__item:not(:last-child) {
  margin-bottom: 20px;
}
.reasons-inner__title{
  display: flex;
  flex-direction: column;
}
.reasons-inner__subtitle {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 5px;
}
.reasons-inner__subtitle-text{
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 5px;
}
.reasons-inner__text {
  font-size: 18px;
  font-weight: 300;
}

@media(max-width:1024px){
  .reasons {
    padding: 0 0 50px 0;
  }
  .reasons__title{
   padding-left: 0;}
  .reasons-inner__image {
    display: none;
  }
  .reasons-inner__content{
    width: 100%;
  }
}
@media(max-width:768px){
  .reasons__title{
    text-align: center;
    display: block;
  }
  .reasons-inner__list {
    padding: 25px  15px;
    text-align: center;
  }
  .reasons-inner__item {
    max-width:100%;

  }
}