.services {
  padding: 300px 0 100px 0;
}
.services__inner {
 display: flex;
}
.title {
  font-size: 36px;
  font-weight: 400;
  color: var(--branded);
  text-transform: uppercase;
  margin-bottom: 50px;
  display: inline-block;
}
.title_line {
  position: relative;
}
.title_line::before {
  position: absolute;
  content: '';
  width: 80px;
  height: 0;
  border: 1px solid var(--branded);
  top: 50%;
  right: -100px;
}
.text {
  width: 505px;
  margin-right: 96px;
}
.text__list {
  margin-bottom: 50px;
}
.text__item:not(:last-child) {
  margin-bottom: 69px;
}
.text__item-title {
  color: var(--accent);
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 12px;
}
.text__content {
  font-weight: 300;
  line-height: 20px;
}
.text__content:not(:last-child) {
  margin-bottom: 12px;
}
.services__button{
  margin-bottom: 0;
}
.button-consultation_line {
    position: relative;
}
.button-consultation_line::before {
  content: 'ЖМИ';
  position: absolute;
  top: 50%;
  right: -110px;
  transform: translateY(-50%);
  color: var(--gray);
  font-size: 14px;
  font-weight: 300;
}
.button-consultation_line::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: var(--gray);
  top: 50%;
  right: -72px;
}
.button-consultation_line:hover {
  outline: 1px solid var(--accent);
}
.content__list {
  counter-reset: my-counter;
}
.content__item {
  cursor: pointer;
  padding: 10px 0 9px 113px;
  border: 1px solid var(--gray);
  counter-increment: my-counter;
  position: relative;
  transition: all .5s;
  width: 450px;
}
.content__item::before{
  position: absolute;
  content: '0' counter(my-counter);
  top: 50%;
  left: 20px;
  font-size: 36px;
  font-weight: 400;
  color: var(--gray);
  transform:translateY(-50%) rotate(-90deg);
}
.content__item:hover{
  border-color: var(--accent);
  width: 500px;
}
.content__item:hover .content__title,
.content__item:hover::before{
  color: var(--accent);
}
.content__item:not(:last-child) {
  margin-bottom: 12px;
}
.content__title {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 5px;
}
.content__text {
  font-weight: 300;
}

/*адаптив*/
@media(max-width:1140px){
  .content__item:hover{
    border-color: var(--accent);
    width: 450px;
  }
}
@media(max-width:1024px){
  .services {
    padding: 250px 0 50px 0;
  }
  .services__inner {
    display: flex;
    flex-direction: column;
  }
  .services__button{
    margin: 0 auto;
  }
  .text {
    width: 100%;
    margin-right:0;
    order: 2;
  }
  .content{
    order: 1;
  }
  .content__list {
   margin-bottom: 30px;
  }
  .content__item{
    width: 100%;
  }
  .content__item:hover{
    width: 100%;
  }
}
@media(max-width:768px){
  .title {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    display: block;
  }
  .title_line::before{
    display: none;
  }
}
@media(max-width:600px){
  .services {
    padding: 150px 0 50px 0;
  }
  .text {
    text-align: center;
  }

}
@media(max-width:520px){
  .services {
    padding: 50px 0 50px 0;
  }
  .content__item {
    padding: 10px 0 9px 60px;
  }
  .content__item::before{
    left: 11px;
  }
  .button-consultation_line::after {
    right: -40px;
  }
  .button-consultation_line::before {
    right: -70px;
  }
}
@media(max-width:430px){
  .button-consultation_line::before,
  .button-consultation_line::after {
    display: none;
  }
}